@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="text-white">
    <div class="slideshow slide-in" style="height: 100vh;">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-center" style="background-image:url(images/banner-large-image.png);">
                <div class="banner-content w-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 offset-md-3 text-right">
                                <h2 class="display-1">Ánh Sáng Mùa Hè</h2>
                                <p class="caption">
                                    Tortor eget placerat arcu integer. Lectus fames egestas tincidunt aliquet vivamus
                                    nibh lorem nulla.
                                </p>
                                <div class="btn-left btn-swiper opacity-75">
                                    <a href="#" class="btn btn-light text-uppercase mt-3">Mua Bộ Sưu Tập</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide d-flex align-items-center" style="background-image:url(images/banner-large-image1.png);">
                <div class="banner-content w-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 offset-md-3 text-right">
                                <h2 class="display-1">Ánh Sáng Mùa Hè</h2>
                                <p class="caption">
                                    Tortor eget placerat arcu integer. Lectus fames egestas tincidunt aliquet vivamus
                                    nibh lorem nulla.
                                </p>
                                <div class="btn-left btn-swiper opacity-75">
                                    <a href="#" class="btn btn-light text-uppercase mt-3">Mua Bộ Sưu Tập</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide d-flex align-items-center" style="background-image:url(images/banner-large-1.jpg);">
                <div class="banner-content w-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 offset-md-3 text-right">
                                <h2 class="display-1">Ánh Sáng Mùa Hè</h2>
                                <p class="caption">
                                    Tortor eget placerat arcu integer. Lectus fames egestas tincidunt aliquet vivamus
                                    nibh lorem nulla.
                                </p>
                                <div class="btn-left btn-swiper opacity-75">
                                    <a href="#" class="btn btn-light text-uppercase mt-3">Mua Bộ Sưu Tập</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide d-flex align-items-center" style="background-image:url(images/banner-large-1.jpg);">
                <div class="banner-content w-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 offset-md-3 text-right">
                                <h2 class="display-1">Ánh Sáng Mùa Hè</h2>
                                <p class="caption">
                                    Thời trang hiện đại với lectus fames egestas tincidunt aliquet vivamus nibh lorem
                                    nulla.
                                </p>
                                <div class="btn-left btn-swiper opacity-75">
                                    <a href="#" class="btn btn-light text-uppercase mt-3">Mua Bộ Sưu Tập</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide d-flex align-items-center" style="background-image:url(images/banner-large-1.jpg);">
                <div class="banner-content w-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 offset-md-3 text-right">
                                <h2 class="display-1">Ánh Sáng Mùa Hè</h2>
                                <p class="caption">
                                    Tortor eget placerat arcu integer. Lectus fames egestas tincidunt aliquet vivamus
                                    nibh lorem nulla.
                                </p>
                                <div class="btn-left btn-swiper opacity-75">
                                    <a href="#" class="btn btn-light text-uppercase mt-3">Mua Bộ Sưu Tập</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <i class="icon-arrow light-arrow icon-arrow-left main-slideshow"></i>
        <i class="icon-arrow light-arrow icon-arrow-right main-slideshow"></i>
    </div>
</section>
<section id="new-arrival" class="new-arrival product-carousel product-element swiper-menu py-5 position-relative open-up" data-aos="zoom-out">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">Hàng Mới Về</h4>
            <a href="shop-sidebar.html" class="btn-link">Xem Tất Cả Sản Phẩm</a>
        </div>
        @await Component.InvokeAsync("SanPham")
        <div class="icon-arrow no-outline icon-arrow-left bg-light bg-opacity-10"></div>
        <div class="icon-arrow no-outline icon-arrow-right bg-light bg-opacity-10"></div>
    </div>
</section>

