@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Nút mở modal thêm khách hàng -->

@*@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="Welcome" style="
                height: 100%; margin: 0; display: flex; justify-content: center; align-items: center; background-color: #add8e6; width: 100%;
                background-image: linear-gradient(#ADD8E6, #ACE6CE , #ACB3E6);">
    <h1 style="font-size: 9rem; margin-left: 100px; margin-right: 100px; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center;">
        Xin Chào Đến Với Drink Gbee
    </h1>
</div>
 *@