@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ASM_GS.Models.Combo

<form asp-action="Create" method="post" id="createComboForm" enctype="multipart/form-data">
    <!-- Input ẩn cho Mã Combo -->
    <input asp-for="MaCombo" type="hidden" />

    <div class="form-group">
        <label asp-for="TenCombo">Tên combo</label>
        <input asp-for="TenCombo" class="form-control" required />
        <span asp-validation-for="TenCombo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MoTa">Mô tả</label>
        <textarea asp-for="MoTa" class="form-control" rows="4"></textarea>
        <span asp-validation-for="MoTa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gia">Giá combo</label>
        <input asp-for="Gia" class="form-control" type="number" required />
        <span asp-validation-for="Gia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Chọn Sản Phẩm</label>
        <div class="checkbox-list">
            @if (ViewBag.SanPhams != null)
            {
                foreach (var sanPham in ViewBag.SanPhams)
                {
                    <div class="form-check">
                        <input type="checkbox" name="selectedSanPhams" value="@sanPham.MaSanPham" class="form-check-input" id="sanPham_@sanPham.MaSanPham" />
                        <label class="form-check-label" for="sanPham_@sanPham.MaSanPham">@sanPham.TenSanPham</label>
                    </div>
                }
            }
        </div>
        <small class="form-text text-muted">Chọn các sản phẩm bằng cách tích vào ô bên cạnh.</small>
        <span class="text-danger">@ViewData.ModelState["selectedSanPhams"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
    </div>
    <div class="form-group">
        <label for="anhcombo">Hình ảnh</label>
        <input type="file" name="anhcombo" class="form-control" />
        <span asp-validation-for="anhcombo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TrangThai">Trạng thái</label>
        <select asp-for="TrangThai" class="form-control">
            <option value="1">Đang áp dụng</option>
            <option value="0">Không áp dụng</option>
        </select>
        <span asp-validation-for="TrangThai" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Thêm combo</button>
</form>
<style>
    /* Thêm con trỏ dạng pointer khi di chuột qua nhãn của checkbox */
    .form-check-label {
        cursor: pointer;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
